@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body */

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.container {
  width: 350px;
  height: 700px;
  background-color: #fff;
  background-image: url(./images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border: 1px solid red;
}

.container .summary-description {
  font-size: 16px;
  margin-bottom: 2rem;
  line-height: 2;
  width: 25ch;
}

.plan-container {
  border-radius: 10px;
  position: relative;
  background-color: hsl(225, 100%, 98%);
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
}

.plan-text-container h2,
p {
  margin: 0;
}

.plan-container a {
  margin: 0 1rem;
}

.plan-container img {
  position: absolute;
  top: 25px;
  left: 15px;
}

.payment {
  margin: 2rem 0;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  width: 300px;
}

.cancel-order {
  margin-bottom: 2rem;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
