@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(223, 47%, 23%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --light-bright-blue: hsl(245, 75%, 70%);
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body */

body {
  align-items: center;
  background-color: var(--pale-blue);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Display', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

/* Order Summary Component */

.order-summary-container {
  align-items: center;
  background-color: #fff;
  background-image: url(./images/illustration-hero.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 25px;
  box-shadow: 0 5px 20px hsl(245, 60%, 85%);
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: flex-end;
  text-align: center;
  width: 350px;
}

.order-summary-container .order-summary-title {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 0;
}

.order-summary-container .order-summary-description {
  color: var(--desaturated-blue);
  font-size: 18px;
  line-height: 2;
  margin-bottom: 2rem;
  width: 25ch;
}

/* Annual Plan Card Component */

.plan-container {
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 15px;
  display: flex;
  height: 100px;
  justify-content: flex-end;
  position: relative;
  text-align: left;
  width: 300px;
}

.plan-container a {
  font-weight: 900;
  margin: 0 1rem 0 2.5rem;
}

.plan-container a:hover {
  color: var(--light-bright-blue);
  text-decoration: none;
}

.plan-container img {
  left: 15px;
  position: absolute;
  top: 25px;
}

.plan-text-container h2,
p {
  font-size: 18px;
  margin: 0;
  padding: 0.15rem;
}

.plan-text-container h2 {
  font-weight: 900;
}

.plan-text-container p {
  color: var(--desaturated-blue);
}

/* Payment Button */

.payment {
  background-color: var(--bright-blue);
  border-radius: 10px;
  box-shadow: 0 10px 50px hsl(245, 60%, 80%);
  color: #fff;
  font-weight: 700;
  margin: 2rem 0;
  padding: 1rem;
  width: 300px;
}

.payment:hover {
  background-color: var(--light-bright-blue);
  cursor: pointer;
}

/* Cancel Button */

.cancel-order {
  color: var(--desaturated-blue);
  font-weight: 900;
  margin-bottom: 2rem;
}

.cancel-order:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

/* Footer */

.attribution {
  font-size: 11px;
  margin-top: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
